<div class="dog dog--dashboard<% if (checked_in) { %> dog--checked-in<% } %>">
    <div class="dog__avatar-container">
        <img class="dog__avatar" src="<%= avatar ? avatar : '/img/dog_stock.jpg' %>">
    </div>
    <div class="dog__info">
        <p>
            <a class="dog__name" href="/api/dogs/<%= display_id %>"><%= name %></a>
        </p>
        <% if (owner) { %>
        <p class="dog__owner">
            <%= _.startCase(owner) %>
        </p>
        <% } %>
        <label>
            <input class="hide" type="checkbox" name="checked_in" disabled<%= checked_in ? ' checked' : '' %>>
            Checked <%= checked_in ? 'In' : 'Out' %>
        </label>
        <% if (checked_in) { %>
        <label>
            <input type="radio" name="status-<%= display_id %>"<%= checked_in ? ' checked' : '' %>> In Office
        </label>
        <label>
            <input type="radio" name="status-<%= display_id %>"> On a walk
        </label>
        <label>
            <input type="radio" name="status-<%= display_id %>"> Missing
        </label>
        <% } %>
    </div>
</div>
