<div class="dog dog--dashboard">
    <div class="">
        <img class="dogList-dog__avatar" src="<%= avatar ? avatar : '/img/dog_stock.jpg' %>">
        <p>
            <a class="dogList-dog__name" href="/api/dog/<%= display_id %>"><%= name %></a>
        </p>
        <% if (owner) { %>
        <p class="doglist-dog__owner">
            Owner: <%= owner %>
        </p>
        <% } %>
    </div>
    <label>
        <input type="checkbox" name="checked_in" <%= checked_in ? 'checked' : '' %> />
        Checked In
    </label>
    <% if (checked_in) { %>
    <label>
        <input type="radio" name="status" checked> In Office
    </label>
    <label>
        <input type="radio" name="status"> On a walk
    </label>
    <label>
        <input type="radio" name="status"> Missing
    </label>
    <% } %>
</div>
