<div id="index">
    <section class="hero">
        <div class="row">
            <div class="columns large-6">
                <p class="hero__text">
                    P.A.W. &mdash; <em>Puppies at Work</em>  &mdash; Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a class="jump-to-watch hero__button button" href="#watch">Watch Video</a>
            </div>
        </div>
    </section>
    <div class="decoration">
        <div class="row">
            <div class="columns">
                <object class="decoration__workspace float-right" type="image/svg+xml" data="/img/workspace.svg"></object>
                <a class="jump-to-watch decoration__scroll icon icon--down" href="#watch">
                    <span class="show-for-sr">Scroll Down</a>
                </a>
            </div>
        </div>
    </div>
    <section class="video" id="watch">
        <a class="video__play button button--alt" href="https://vimeo.com/134892537" data-media="https://player.vimeo.com/external/134892537.hd.mp4?s=10bfa368f8bffb4a4a09f6abec6c96e770aa2e02&profile_id=113" target="_blank">Watch Video</a>
        <button class="video__pause button button--alt">Click to pawse</button>
        <video class="video__media" src="" autoplay></video>
    </section>
    <section class="map feature">
        <div class="row align-center">
            <div class="columns large-9">
                <h2 class="map__heading feature__heading text-center">Where&rsquo;s <u>Watson?</u></h2>
                <p class="feature__text lead text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <object type="image/svg+xml" data="/img/map.svg"></object>
        </div>
    </section>
    <section class="dogs feature">
        <div class="row align-center text-center">
            <div class="columns large-6">
                <h2 class="dogs__heading feature__heading">Meet Our Pups!</h2>
            </div>
            <div class="row dogs__list">
            </div>
        </div>
    </section>
    <section class="contact feature">
        <div class="row align-center text-center">
            <div class="columns large-9">
                <h2 class="contact__heading feature__heading">Get P.A.W. Now!</h2>
                <p class="contact__text feature__text lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <a class="button button--alt" href="https://isl.co/contact/" target="_blank">Contact Us</a>
            </div>
        </div>
    </section>
</div>
