<div id="index">
    <section class="hero">
        <div class="row">
            <div class="columns large-6">
                <p class="hero__text">
                    P.A.W. &mdash; <em>Puppies at Work</em>  &mdash; Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a class="hero__button button" href="#watch">Watch Video</a>
            </div>
        </div>
    </section>
    <div class="decoration">
        <div class="row">
            <div class="columns">
                <object class="decoration__workspace float-right" type="image/svg+xml" data="/img/workspace.svg"></object>
            </div>
        </div>
    </div>
    <section class="video" id="watch">
        <a class="video__button button button--alt" href="https://vimeo.com/134892537" target="_blank">Watch Video</a>
    </section>
    <section class="map feature">
        <div class="row align-center">
            <div class="columns large-6">
                <h2 class="map__heading text-center">Where&rsquo;s <u>Watson?</u></h2>
                <p class="lead text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </section>
    <section class="dogs feature">
        <div class="row align-center text-center">
            <div class="columns large-6">
                <h2 class="dogs__heading">Meet Our Pups!</h2>
            </div>
            <div class="row dogs__list">
            </div>
        </div>
    </section>
    <section class="contact feature">
        <div class="row align-center text-center">
            <div class="columns large-6">
                <h2 class="contact__heading">Get P.A.W. Now!</h2>
                <p class="contact__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <a class="button button--alt" href="https://isl.co/contact/" target="_blank">Contact Us</a>
            </div>
        </div>
    </section>
</div>
