<div id="index">
    <section class="hero text-center medium-text-left">
        <div class="hero__content-container">
            <div class="hero__content-row">
                <div class="hero__content ">
                    <h1 class="hero__title">
                        <a href="/#">
                            <object class="logo" type="image/svg+xml" data="/img/paw_wordmark.svg"></object>
                            <span class="show-for-sr">Paw</span>
                        </a>
                    </h1>
                    <p class="hero__text">
                        PAW &ndash; <em>puppies at work</em> &ndash; a Slack-integrated tracking
                        system that keeps tabs of dogs in the workplace.
                        PAW&hellip; unleash your dog.
                    </p>
                    <a class="jump-to-watch hero__button button button--shikoba button--hover-fill-primary" href="#watch">
                        <object class="button__icon" type="image/svg+xml" data="/img/isl-paw-play-button--white.svg"></object>
                        <span>Watch Video</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="decorations">
            <div class="hero__decoration-row">
                <div class="decoration__workspace-container">
                    <object class="decoration__workspace" type="image/svg+xml" data="/img/workspace.svg"></object>
                </div>
            </div>
        </div>
        <div class="decoration__scroll">
            <a class="jump-to-watch  icon icon--down show-for-medium" href="#watch">
                <img type="image/svg+xml" src="/img/down-arrow.svg">
                <span class="show-for-sr">Scroll Down</span>
            </a>
        </div>
    </section>
    <section class="video" id="watch">
        <!--- http://embedresponsively.com/ -->
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
        <div class="embed-container">
            <iframe id="vimeo-player" src="https://player.vimeo.com/video/160030363?api=1&player_id=vimeo-player" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <div class="embed-poster"></div>
            <a class="video__play button button--shikoba button--alt" href="https://vimeo.com/160030363" data-video-src="" target="_blank">
                <object class="button__icon" type="image/svg+xml" data="/img/isl-paw-play-button--blue.svg"></object>
                <span>See How It Works</span>
            </a>
        </div>
    </section>
    <section class="map feature">
        <div class="map__content">
            <div class="row align-center">
                <div class="columns large-8">
                    <h2 class="map__heading feature__heading text-center">Where&rsquo;s <u>Watson</u>?</h2>
                    <p class="map__copy text-center feature__text">
                        The PAW Dashboard allows users to quickly view their dog&rsquo;s location in the office at anytime.
                    </p>
                </div>
            </div>
            <div class="row align-center">
                <div class="small-12 medium-10 columns">
                    <div class="dogs__map"></div>
                </div>
            </div>
        </div>
        <div class="map__bg-overlay"></div>
    </section>
    <section class="dogs feature">
        <div class="row align-center text-center">
            <div class="columns large-6">
                <h2 class="dogs__heading feature__heading feature__heading--gray">Meet the Dogs!</h2>
            </div>
        </div>
        <div class="dogs__list"></div>
    </section>
    <section class="contact feature">
        <div class="row align-center text-center">
            <div class="columns large-8">
                <h2 class="contact__heading feature__heading feature__heading--white">Get PAW Now!</h2>
                <p class="contact__text feature__text">
                    A connected leash? Reminders about walks? We're just getting started!
                    <br><br>
                    Want to get PAW in your office or home? Let us know.
                </p>
                <a class="button button--shikoba button--alt" href="https://isl.co/contact/" target="_blank">
                    <object class="button__icon" type="image/svg+xml" data="/img/isl-paw-email--blue.svg"></object>
                    <span>Contact Us</span>
                </a>
            </div>
        </div>
    </section>
    <footer class="footer" role="contentinfo">
        <div class="row">
            <div class="columns text-center">
                <a class="footer__link" href="http://www.isl.co/" target="_blank">
                    <object class="footer__logo" type="image/svg+xml" data="/img/isl-logo.svg"></object>
                    <span class="show-for-sr">ISL.co</span>
                </a>
            </div>
        </div>
    </footer>
</div>
