<div class="header is-logged clearfix">
    <div class="float-left header__logo-container">
	<a class="header__logo logo" href="/#"></a>
    </div>
    <div class="header__nav-container">
        <div class="nav-links nav-links--left">
            <a class="button button--link button--alt link--white" href="#dashboard">Dashboard</a>
        </div>
        <div class="nav-links nav-links--right">
            <button class="button button--link button--alt link--white float-right" id="auth2-signout">Logout</button>
        </div>
    </div>
</div>
