<div class="header">
    <div class="row">
        <div class="columns">
            <h1 class="float-left">
                <a class="header__logo logo" href="/#">
                    <object type="image/svg+xml" data="/img/paw_logo.svg"></object>
                    <span class="show-for-sr">Paw</span>
                </a>
            </h1>
            <button class="header__button header__button--last button button--link float-right" id="auth2-signin">ISL Login</button>
        </div>
    </div>
</div>
