<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PAW: unleash your dog.</title>
        <meta name="description" content="PAW: unleash your dog.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/main.css" rel="stylesheet">
        <!-- Facebook OG tags -->
        <meta property="og:url" content="" />
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Puppies at Work" />
        <meta property="og:description" content="PAW: unleash your dog." />
        <meta property="og:image" content="" />
        <!-- End Facebook OG tags -->
        <!-- Twitter Card tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@istrategylabs">
        <meta name="twitter:creator" content="@istrategylabs">
        <meta name="twitter:title" content="Puppies At Work">
        <meta name="twitter:description" content="PAW: unleash your dog.">
        <meta name="twitter:image" content="">
        <!-- End Twitter Card tags -->
        <script src="/js/bundle.js" onload="clientInit()" async defer></script>
        <script src="https://apis.google.com/js/platform.js?onload=onGAPILoadCallback" async defer></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
