<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>client</title>
        <meta name="description" content="client">
        <link href="/css/main.css" rel="stylesheet">
        <script src="/js/bundle.js" async defer></script>
        <script src="https://apis.google.com/js/platform.js?onload=onGAPILoadCallback" async defer></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
