<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PAW... unleash your dog.</title>
        <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
        <meta name="description" content="PAW is a Slack-integrated tracking system for dogs in the workplace. It allows owners to effortlessly keep tabs of their pets without needing to have them tethered to a desk all day.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Facebook Open Graph Tags #}
        <meta property="og:title" content="PAW... unleash your dog.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://paw.isl.co/">
        <meta property="og:image" content="https://paw.isl.co/img/isl-paw-share.jpg">
        <meta property="og:description" content="PAW — puppies at work — is a Slack-integrated tracking system that keeps tabs of dogs in the workplace.">

        {# Twitter Summary Card with Large Image tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@istrategylabs">
        <meta name="twitter:creator" content="@istrategylabs">
        <meta name="twitter:title" content="PAW... unleash your dog.">
        <meta name="twitter:description" content="PAW — puppies at work — is a Slack-integrated tracking system that keeps tabs of dogs in the workplace.">
        <meta name="twitter:image" content="https://paw.isl.co/img/isl-paw-share.jpg">

        {# loadCSS #}
        <link rel="preload" href="/css/app.css" as="style" onload="this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/css/app.css"></noscript>
        <script>
            /*! loadCSS: load a CSS file asynchronously. [c]2016 @scottjehl, Filament Group, Inc. Licensed MIT */
            !function(e){"use strict"
            var t=function(t,n,r){function o(e){return i.body?e():void setTimeout(function(){o(e)})}function a(){d.addEventListener&&d.removeEventListener("load",a),d.media=r||"all"}var l,i=e.document,d=i.createElement("link")
            if(n)l=n
            else{var s=(i.body||i.getElementsByTagName("head")[0]).childNodes
            l=s[s.length-1]}var u=i.styleSheets
            d.rel="stylesheet",d.href=t,d.media="only x",o(function(){l.parentNode.insertBefore(d,n?l:l.nextSibling)})
            var f=function(e){for(var t=d.href,n=u.length;n--;)if(u[n].href===t)return e()
            setTimeout(function(){f(e)})}
            return d.addEventListener&&d.addEventListener("load",a),d.onloadcssdefined=f,f(a),d}
            "undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this)

            /*! CSS rel=preload polyfill. Depends on loadCSS function. [c]2016 @scottjehl, Filament Group, Inc. Licensed MIT  */
            !function(t){if(t.loadCSS){var e=loadCSS.relpreload={}
            if(e.support=function(){try{return t.document.createElement("link").relList.supports("preload")}catch(e){return!1}},e.poly=function(){for(var e=t.document.getElementsByTagName("link"),n=0;n<e.length;n++){var r=e[n]
            "preload"===r.rel&&"style"===r.getAttribute("as")&&(t.loadCSS(r.href,r),r.rel=null)}},!e.support()){e.poly()
            var n=t.setInterval(e.poly,300)
            t.addEventListener&&t.addEventListener("load",function(){t.clearInterval(n)}),t.attachEvent&&t.attachEvent("onload",function(){t.clearInterval(n)})}}}(this)
        </script>

        <script src="/js/bundle.js" onload="clientInit()" async defer></script>
        <script src="https://apis.google.com/js/platform.js?onload=onGAPILoadCallback" async defer></script>
    </head>
    <body>
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W8T5WP"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W8T5WP');</script>
        <!-- End Google Tag Manager -->

        {% block content %}
        {% endblock %}

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebApplication",
                "name": "PAW",
                "description": "PAW is a Slack-integrated tracking system for dogs in the workplace. It allows owners to effortlessly keep tabs of their pets without needing to have them tethered to a desk all day.",
                "url": "https://paw.isl.co",
                "image": "https://paw.isl.co/favicon-152.png",
                "sameAs": [
                    "https://twitter.com/istrategylabs",
                    "https://www.facebook.com/istrategylabs",
                    "https://www.instagram.com/istrategylabs/",
                    "https://www.linkedin.com/company/istrategylabs/"
                ]
            }
        </script>
    </body>
</html>
