html, main, #index {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

h2 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 45px;
}

em {
    color: $primary-color;
    font-style: italic;
    font-weight: bold;
}

.button {
    border-width: 4px;
    cursor: pointer;
    font-family: $header-font-family;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
}

.button--alt {
    border-color: $button-color-alt;
    color: $button-color-alt;
}

.button--link {
    border: 0;
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}


.error {
    background-color: $alert-color;
    color: $white;
}

.error__text {
    margin: 0;
    padding: 1em;
}
