h2 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 45px;
}

em {
    color: $primary-color;
    font-style: italic;
    font-weight: bold;
}

.button {
    border-width: 3px;
    cursor: pointer;
    font-family: $header-font-family;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.25s ease-out;

    @media #{$medium-up}{
        border-width: 4px;
    }
}

.button--shikoba {
    
    //////////////////////////////////////////////////////
    //
    //  Shikoba button inspiration via Codrops/Tympanus
    //  http://tympanus.net/Development/ButtonStylesInspiration/
    //
    //////////////////////////////////////////////////////

    padding: 0.65em 30px 0.9375em 50px;
    position: relative;
    overflow: hidden;
    font-size: 1em;

    @media #{$medium-up}{
        font-size: 1.1em;
    }

    span {
        display: inline-block;
        transform: translate3d(-10px, 0, 0);
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &:hover span, &:hover .button__icon {
        transform: translate3d(0, 0, 0);
    }

    .button__icon {
        position: absolute;
        left: 27px;
        height: 15px;
        max-width: 17px;
        top:13px;
        transform: translate3d(-40px, 2.5em, 0);
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);

        @media #{$medium-up}{
            height: 16px;
            top:15px;
        }
    }
}

.button--hover-fill-primary {
    &:hover {
        background: $primary-color;
        border-color: $primary-color;
        color: $white;
    }
}


.button--alt {
    border-color: $button-color-alt;
    color: $button-color-alt;

    &:hover {
        background: $white;
        border-color: $white;
        color: $primary-color;
    }
}

.button--link {
    border: 0;
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}


.error {
    background-color: $alert-color;
    color: $white;
}

.error__text {
    margin: 0;
    padding: 1em;
}
