html, main, #index {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow-x: hidden;
}

h2 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 45px;
}

em {
    color: $primary-color;
    font-style: italic;
    font-weight: bold;
}

.button {
    border-width: 4px;
    cursor: pointer;
    font-family: $header-font-family;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
}

.button--shikoba {
    padding: 0.65em 30px 0.9375em 50px;
    overflow: hidden;

    span {
        display: inline-block;
        transform: translate3d(-10px, 0, 0);
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &:hover, &:hover span, &:hover .button__icon {
        transform: translate3d(0, 0, 0);
    }

    .button__icon {
        position: absolute;
        left: 27px;
        height: 16px;
        top:14px;
        transform: translate3d(-40px, 2.5em, 0);
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
}

.button--hover-fill-primary {
    &:hover {
        background: $primary-color;
        border-color: $primary-color;
        color: $white;
    }
}


.button--alt {
    border-color: $button-color-alt;
    color: $button-color-alt;
}

.button--link {
    border: 0;
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}


.error {
    background-color: $alert-color;
    color: $white;
}

.error__text {
    margin: 0;
    padding: 1em;
}
