$sidebar-borders: 1px solid $mercury;
$sidebar-width: 300px;

.dashboard__sidebar {
    background: $porcelain;
    border-right: $sidebar-borders;
    bottom: 0;
    display: inline-block;
    overflow-y: scroll;
    position: absolute;
    top: 90px;
    vertical-align: top;
    width: $sidebar-width;
    z-index: 0;

    // @include scrollbars(.5em, red);
}

.dashboard__map {
    // box-flex: 1;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    left: $sidebar-width;
}

.dashboard__date {
    background: $porcelain;
    border-bottom: $sidebar-borders;
    font-family: $header-font-family;
    font-weight: bold;
    letter-spacing: 1px;
    min-height: rem-calc(65px);
    padding: rem-calc(20px) rem-calc(30px);
    position: fixed;
    text-align: center;
    width: $sidebar-width - 1;
    z-index: 100;
}

.dashboard__dog-list {
    list-style: none;
    margin: 65px 0px 0px 0px;
}

.dog--dashboard {
  background: none;
  border-bottom: $sidebar-borders;
  opacity: .4;
  padding: rem-calc(30px);
  transition: opacity .25s;

  &:hover {
    opacity: 1;
  }

  .dog__avatar-container {
      display: inline-block;
      margin-right: rem-calc(15px);
      margin-top: rem-calc(10px);
      vertical-align: top;
  }

  .dog__avatar {
      border-radius: 50%;
      height: 60px;
      width: 60px;
  }

  .dog__info {
      display: inline-block;
      vertical-align: top;
  }

  .dog__name {
      font-family: $header-font-family;
      font-size: rem-calc(16px);
      font-weight: 600;
      letter-spacing: 1px;
      margin: 0px;

      a {
        color: $scorpion;
      }
  }

  .dog__owner {
      font-family: $body-font-family;
      font-size: rem-calc(11px);
      font-style: italic;
      margin-bottom: 10px;
  }

  .button--sidebar, .dog__dropdown {
    background: $white;
    border: 1px solid $mercury;
    border-radius: 100px;
    font-family: $header-font-family;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    padding: 6px 15px 10px 15px;
    position: relative;
  }

  .dog__dropdown {
    padding: 3px 40px 5px 25px;

    .dropdown__status {
      display: inline-block;
      position: relative;

      &:before {
        background: $paw-red;
        border-radius: 100px;
        content: '';
        height: 8px;
        left: -15px;
        position: absolute;
        top: 8px;
        width: 8px;
      }

      &.status--checked-in {
        &:before {
          background: $paw-green;
        }
      }
    }

    &:hover {
      cursor: pointer;

      .dropdown__arrow-svg {
        transform: rotate(90deg);
      }
    }

    .dropdown__arrow-container {
      border-left: 1px solid $mercury;
      height: 100%;
      position: absolute;
      right: 0px;
      top: 0px;

      width:30px;
      
      .dropdown__arrow {
        display: inline-block;
        height: 6px;
        position: absolute;
        right: 12px;
        top: 4px;
        transform-origin: center;
        width: 6px;

        .dropdown__arrow-svg {
          transition: transform .2s;
        }

        // &::before, &:after{
        //   background: $dark-gray;
        //   border-radius: 100px;
        //   content: '';
        //   height: 2px;
        //   position: absolute;
        //   width: 8px;
        // }

        // &:after {
        //   transform: rotate(45deg) translateY(3px) translateX(1px);
        // }

        // &::before {
        //   transform: rotate(-45deg) translateY(4px) translateX(-6px);
        // }


      }

      
      
    }
  }// end dog__check-in-dropdown
}

.dog--checked-in {
  opacity: 1;
  transition: opacity .25s;
}
