.dashboard {
    padding-top: 90px;
}

    .dashboard__main {
        position: absolute;
        left: 300px;
        height: calc(100vh - 90px);
        width: calc(100% - 300px);
        overflow-y: scroll;
    }

    .dashboard__map {
        height: 0;
        max-width: 90%;
        position: relative;
        padding-bottom: percentage(115/300);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dashboard__map-image {
        background: url('/img/paw_map.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        width: 100%;
        height: 100%;
    }

.hydrant {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 120px;
    width: 120px;
}

    .hydrant__item {
        position: absolute;
        max-width: 80px;

        &:hover {
            z-index: 1000;
        }
    }

    // .hyrdrant__logo {
    //     background: url('/img/paw_hydrant.svg') no-repeat center;
    //     background-size: contain;
    //     width: 32px;
    //     height: 32px;
    // }

    .hydrant__dog {
        display: block;
        min-width: 50px;
        max-width: 100%;
        border-radius: 50%;
        border: solid 3px $paw-green;
        transition: .15s;
    }

#hydrant-reception {
    left: 6%;
    top: 27%;
}

#hydrant-design {
    right: 20%;
    top: 20%;
}

#hydrant-test {
    right: 8%;
    bottom: 20%;
}

#hydrant-kitchen {
    right: 52%;
    bottom: 0;
}
