.workspace__steam--1 {
    @include moveAndFadeAnimation(6s, .2s);
}

.workspace__steam--2 {
    @include moveAndFadeAnimation(6s, 0s);
}

.workspace__steam--3 {
    @include moveAndFadeAnimation(6s, .4s);
}

/*
 * COIN BOUNCE ANIMATION ***
*/
.animated {
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    animation-delay: 10s;
}

@keyframes bounce {
    0%  {transform: translateY(0);}
    4% {transform: translateY(-20px);}
    6% {transform: translateY(0);}
    8% {transform: translateY(-15px);}
    12% {transform: translateY(0);}
    100% {transform: translateY(0);}
}

@keyframes wag {
  0%    {transform: rotate(0deg) translate(0px, 0px);}
  50%   {transform: rotate(-20deg) translate(5px, 0px);}
  100%  {transform: rotate(0deg) translate(0px, 0px);}
}

/*
 * Adding the animation to our element
*/
.bounce {
    animation-name: bounce;
}

.watson {
  &:hover {
    .animation__tail-wag {
      animation-duration: .3s;
    }
  }
}

.tail-alignment {
  transform: translate(77px, 396px);
}

.tail-correction {
  transform: translate(-60px,-407px);
}

.tail-rotate {
  transform: rotate(10deg);
}

.animation__tail-wag {
  transform: rotate(0deg);
  -moz-transform-origin: 50px 120px;
  transform-origin: 50px 120px;
  animation-name: wag;
  animation-duration: .6s; 
  animation-fill-mode: both; 
  animation-iteration-count:infinite; 
}