$sidebar-width: 300px;

.header {
    background: $secondary-color;
    padding-bottom: 48px;
    padding-top: 45px;
}

.header__button {
    margin-top: -7px;
    padding-top: 0;
}

.header__button--last {
    padding-right: 0;
}

.header.is-logged {
    background: $primary-color;
    height: rem-calc(90px);
    padding: rem-calc(0px);
    width: 100%;

    .header__logo-container {
        border-right: 1px solid darken($primary-color, 8%);
        height: 100%;
        overflow: hidden;
        width: $sidebar-width;
    }

    .header__logo {
        display: block;
        padding-left: rem-calc(43px);
        transition: background .25s;

        &:hover {
            background: darken($primary-color, 10%)
        }
    }

    .logo__watson,
    .logo__wordmark {
        pointer-events: none;
    }

    .logo__watson {
        width: rem-calc(50px);
    }

    .logo__wordmark {
        fill: $white;
        width: rem-calc(100px);
    }

    .header__nav-container {
        display: flex;
        padding: 30px;
        height: 100%;
    }

    .nav-links {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-links--left {
        flex-grow: 2;
    }

    .nav-links--right {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.fill--white {
    fill: $white;
}
