$sidebar-width: 300px;

.header {
    background: $primary-color;
    padding-bottom: 14px;
    padding-top: 13px;
    position: relative;
    z-index: 10;

    @media #{$medium-up} {
	background: $secondary-color;
	height: 0;
	padding: 0;
    }
}

.header__link-container {
    @media #{$medium-up} {
	float: right;
	line-height: 1;
	position: relative;
	top: 44px;
    }
}

.header__pipe {
    background: #EDE29F;
    display: none;
    height: 20px;
    margin: 0px 5px;
    padding-top: 2px;
    width: 2px;

    @media #{$medium-up}{
        display: inline-block;
    }
}

.header__links--social {

    float: right;

    @media #{$medium-up}{
        // float: none;
        display: inline-block;
    }

    .icon--facebook, .icon--twitter {
        fill: $white;
        height:23px;
        margin-left: 10px;
        width: 23px;

        &:hover {
            fill: darken($primary-color, 20%);
        }
        
        @media #{$medium-up}{
            fill: $primary-color;
            height:20px;
            width: 20px;
            margin: 0px;
        }
    }
}

.header__button,
.header__link {
    color: $white;

    @media #{$medium-up} {
	color: $primary-color;
    }
}

.header__button {
    margin-top: -7px;
    padding-top: 0;
    font-weight: 600;

    @media #{$medium-up}{
        margin-top: -17px;
    }
}

.header__button--last {
    border-radius: 0;
    padding-right: 0;
}

.header.is-logged {
    background: $primary-color;
    height: rem-calc(90px);
    padding: rem-calc(0px);
    position: absolute;
    width: 100%;

    .header__logo-container {
        border-right: 1px solid darken($primary-color, 8%);
        height: 100%;
        transition: background .25s;
        overflow: hidden;
        width: $sidebar-width;

        &:hover {
        background-color: darken($primary-color, 10%)
        }
    }

    .header__logo {
        background-size: 180px;
        background: url(/img/dashboard_logo.svg) 50% 50% no-repeat;
        height: 100%;
        margin-left: rem-calc(43px);
        display: block;
        max-width: 207px;
    }

    .logo__watson,
    .logo__wordmark {
        pointer-events: none;
    }

    .logo__watson {
        width: rem-calc(50px);
    }

    .logo__wordmark {
        fill: $white;
        width: rem-calc(100px);
    }

    .header__nav-container {
        display: flex;
        height: 100%;
        padding: 30px;
    }

    .nav-links {
        align-items: center;
        display: flex;
        height: 100%;
    }

    .nav-links--left {
        flex-grow: 2;
    }

    .nav-links--right {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

.fill--white {
    fill: $white;
}
