$sidebar-width: 300px;

.header {
    background: $primary-color;
    padding-bottom: 14px;
    padding-top: 13px;
    position: relative;
    z-index: 10;

    @media #{$medium-up} {
	background: $secondary-color;
	height: 0;
	padding: 0;
    }
}

.header__links {
    @media #{$medium-up} {
	float: right;
	line-height: 1;
	position: relative;
	top: 44px;
    }
}

.header__button,
.header__link {
    color: $white;

    @media #{$medium-up} {
	color: $primary-color;
    }
}

.header__button {
    margin-top: -7px;
    padding-top: 0;
}

.header__button--last {
    border-radius: 0;
    padding-right: 0;
}

.header.is-logged {
    background: $primary-color;
    height: rem-calc(90px);
    padding: rem-calc(0px);
    width: 100%;

    .header__logo-container {
        border-right: 1px solid darken($primary-color, 8%);
        height: 100%;
	transition: background .25s;
        overflow: hidden;
        width: $sidebar-width;

	&:hover {
	    background-color: darken($primary-color, 10%)
	}
    }

    .header__logo {
	height: 100%;
	background: url(/img/dashboard_logo.svg) 50% 50% no-repeat;
	background-size: 180px;
        display: block;
	margin-left: rem-calc(43px);
    }

    .logo__watson,
    .logo__wordmark {
        pointer-events: none;
    }

    .logo__watson {
        width: rem-calc(50px);
    }

    .logo__wordmark {
        fill: $white;
        width: rem-calc(100px);
    }

    .header__nav-container {
        display: flex;
        padding: 30px;
        height: 100%;
    }

    .nav-links {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-links--left {
        flex-grow: 2;
    }

    .nav-links--right {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.fill--white {
    fill: $white;
}
