.icon {
    display: inline-block;
}

.icon--down {
    height: 100%;
    width: 100%;

    object {
        display: inline-block;
        position: relative;
    }
}


.logo {
    margin-bottom: 1.5rem;
    max-width: 104px;
    text-transform: lowercase;

    @media #{$medium-up} {
        max-width: 207px;
    }
}


.hero {
    background: $secondary-color;
    margin-top: -1px;
    overflow: hidden;
    padding-top: 1px;
    position: relative;

    @media #{$medium-up} {
        height: 100%;
    }
}

.hero__title {
    line-height: .25;
}

.hero__text {
    font-weight: 300;
    line-height: 2;
    margin: 0 auto 2rem;
    max-width: 540px;
    position: relative;
    z-index: 2;

    @media #{$medium-up} {
        margin: 0 0 3rem;
        font-size: 20px;
    }
}

.hero__content-container {
    @media #{$medium-up}{
        padding: 0px 50px;
    }
}

.hero__content-row {
    max-width: 1260px;
    margin: 50px auto 0px auto;
    position: relative;

    z-index: 10;

    @media #{$medium-up} {
        margin: 20vh auto 0px auto;
        height: 60vh;
        margin-top: 10vh;
    }

    @media #{$large-up} {
        height: 65vh;
        margin-top: 15vh;
    }

    @media #{$xlarge-up} {
        height: 70vh;
        margin: 10vh auto;
    }

    @media #{$xxlarge-up} {
        height: 60vh;
        margin: 20vh auto;
    }
}



.hero__content {
    margin-bottom: 2rem;

    @media #{$medium-up}{
        left: 0px;
        position: absolute;
        top: 5vh;
        z-index: 1;
    }
}

.decoration__floor {
    background: url(/img/wood.png) $white;
    border-top: 2px solid $paw-gray;
    height: 100px;
    margin-top: -42px;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: 1;

    @media #{$medium-up} {
        border-top: 4px solid $paw-gray;
        bottom: 0;
        height: 30vh;
        margin-top: 0px;
        position: absolute;
    }

    @media #{$large-up} {
        bottom: 0;
        height: 20vh;
        position: absolute;
    }
}

.decorations {
    margin: 0 auto;
    max-width: 1260px;
    overflow: hidden;
    position: relative;

    .hero__intro-copy {
        @media #{$medium-up} {
            left:0px;
            position: absolute;
            top: 0px;
        }
    }

    @media #{$medium-up} {
        transform: translateY(-85%);
    }
}

.decoration__workspace-container {
    @media #{$medium-up} {
        bottom:-50px;
        position: absolute;
        right:0px;
        width: 90%;
    }
}

.decoration__workspace {
    max-width: 520px;

    @media #{$medium-up} {
        float: right;
        margin: 0;
        max-width: 75%;
    }

    @media #{$large-up} {
        max-width: 80%;
        margin: 0;
    }
}

.decoration__scroll {
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 40px;
    width: 40px;
    z-index: 5;
}


.video {
    background: url('/img/isl-paw-video-stock.jpg') center center;
    background-size: cover;
    height: 440px;
    overflow: hidden;
    position: relative;

    &::before {
        background: rgba($primary-color, 0.65);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    @media #{$medium-up} {
        height: 700px;
    }

    @media #{$xlarge-up} {
        height: 850px;
    }
}

.video__play,
.video__pause {
    left: 50%;
    min-width: 192px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video__pause {
    display: none;
    min-width: 225px;
    padding-left: 65px;
    padding-right: 40px;

    &::before {
        content: '\275A\275A';
        display: block;
        left: 34px;
        position: absolute;
        top: 12px;
    }
}

.video__media {
    display: none;
    position: relative;
    width: 100%;
    z-index: -1;
}

.video.is-playing {
    cursor: pointer;

    .video__play {
        display: none;
    }

    &:hover .video__pause {
        box-shadow: 2px 0 5px $black, inset 0 0 2px $black;
        text-shadow: 2px 0 5px $black;
        display: block;
        z-index: 20;
    }

    .video__pause:hover {
        border-color: $white;
        color: $white;
    }

    .video__media {
        background-size: cover;
        height: auto;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        z-index: 10;
    }
}

.feature {
    padding-top: 100px;
    padding-bottom: 95px;

}

.feature__heading {
    margin-bottom: 45px;
    position: relative;

    &::after {
        bottom: -20px;
        content: '';
        height: 2px;
        left: 50%;
        margin: 0 auto;
        position: absolute;
        transform: translateX(-50%);
        width: 100px;
    }
}

.feature__heading--gray {
    &::after {
        background: $dark-gray;
    }
}

.feature__heading--white {
    &::after {
        background: $white;
    }
}

.feature__text {

    font-weight: 300;
    line-height: 2;
    margin: 0 auto 2rem;
    position: relative;
    z-index: 2;

    @media #{$medium-up} {
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: .5px;
        line-height: 1.8;
        margin-bottom: 80px;
    }
    
}


.map {
    background: url(/img/wood.png);
    position: relative;
}

.map__heading {
    color: $primary-color;

}


.map-container {
    object {
        width: 100%;
    }
}

.map__svg {
    width: 100%;
}

.map-feature__content {
    position: relative;
    z-index: 5;
}

.map-feature__bg-overlay {
    background: $white;
    bottom:0;
    height: 60%;
    position: absolute;
    width:100%;
    z-index: 1;

    &::before {
        background: linear-gradient(to bottom,  rgba(255,255,255,0) -1%,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        content: '';
        height: 30%;
        position: absolute;
        top: -30%;
        width: 100%;
    }
}

.flickity-viewport {
    margin-bottom: 50px;
}

.flickity-slider {
    width: 95%;
}

.flickity-page-dots {
    bottom: -50px;
}

.dogs {
    background: $secondary-color;
    padding-left: 40px;
    padding-right: 40px;
}

.dogs__list {
    max-width: $global-width;
    margin: 0 auto;
}

.dog {
    background: $white;
    border-bottom: 3px solid rgba(mix($secondary-color, $black), 0.15);
    width: percentage(1/3);
}

.dog__avatar {
    background-size: cover;
    border-radius: 50%;
    height: 120px;
    margin: 0 auto;
    width: 120px;

    @media #{$medium-up}{
        height: 160px;
        width: 160px;
    }
}

.dog__name {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;

    &::after {
        background-color: $primary-color;
        bottom: -18px;
        content: '';
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 50px;
    }

    @media #{$medium-up}{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.dog--marketing {
    margin-left: 20px;
    max-width: 350px;
    min-height:400px;
    padding: 50px 46px;
    text-align: center;
    width: 300px;

    @media #{$medium-up} {
        margin-left: 3%;
        margin-right: 3%;
        max-width: none;
        padding: 50px 50px 50px;
        width: 50%;
    }

    @media #{$large-up} {
        margin-left: 2.75%;
        margin-right: 2.75%;
        max-width: none;
        min-height: 450px;
        padding: 60px 50px 70px;
        width: percentage(1/3);
    }
    @media #{$xlarge-up}{
        font-size: 1.125em;
        height: 525px;
    }
}

.dog__text {
    font-weight: 300;
    font-size: .875em;
    
    @media #{$medium-up}{
        font-size: 1em;
        min-height:110px;
    }

    @media #{$large-up}{
        font-size: 1em;
    }
    @media #{$xlarge-up}{
        font-size: 1.125em;
    }
}

.dog__meta {
    font-size: 0.9375rem;
    font-style: italic;
    margin: 0;
}

.flickity-page-dots {
    @media #{$medium-up} {
        display: none;
    }

    .dot {
        background: $white;
        border: 2px solid $black;
        height: 15px;
        opacity: 1;
        width: 15px;

        &.is-selected {
            background: $primary-color;
        }
    }
}

.flickity-prev-next-button {
    background: $primary-color;
    border-radius: 0px;
    display: none;
    padding: 40px 30px;
    transition: all .2s;

    svg {
        height: 60%;
        left: 25%;
        position: absolute;
        top: 20%;
        width: 50%;

        .arrow {
            fill: $white;
        }
    }

    &:hover {
        background: darken($primary-color, 10%);
    }

    &.previous {
        left: -40px;
    }

    &.next {
        right: -40px;
    }

    &:disabled {
        background: $paw-gray;
        opacity: .1;

        &:hover {
            background: $paw-gray;
        }
    }

    

    @media #{$medium-up} {
        display: block;
    }
}

.contact {
    background: $primary-color;
    background-image: url(/img/isl-paw-squiggle.svg);
    background-size: 240px 280px;
    padding-left: 40px;
    padding-right: 40px;
}


.contact__heading,
.contact__text {
    color: $white;
}

.footer {
    background: darken($primary-color, 10%);
    height: 90px;
}

.footer__logo {
    margin-top: 18px;
    max-width: 85px;
}

.footer__logo-path {
    fill: darken($primary-color, 25%);
}


.svg-link {
    display: inline-block;
    position: relative;

    &::after {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
