.icon {
    display: inline-block;
}

.icon--down {
    height: 100%;
    width: 100%;

    object {
        display: inline-block;
        position: relative;
    }
}


.logo {
    margin-bottom: 1.5rem;
    max-width: 104px;
    text-transform: lowercase;

    @media #{$medium-up} {
        max-width: 207px;
    }
}


.hero {
    background: $secondary-color;
    margin-top: -1px;
    overflow: hidden;
    padding-top: 1px;
    position: relative;

    @media #{$medium-up} {
        height: 100%;
        min-height: 800px;
    }
}

.hero__title {
    line-height: .25;
}

.hero__text {
    font-weight: 300;
    line-height: 2;
    margin: 0 auto 2rem;
    max-width: 510px;
    padding: 0px 30px;
    position: relative;
    z-index: 200;

    @media #{$medium-up} {
        margin: 0 0 3rem;
        font-size: 20px;
        padding: 0px;
    }
}

.hero__content-container {
    @media #{$medium-up}{
        padding: 0px 120px;
    }
}

.hero__content-row {
    max-width: 1260px;
    margin: 50px auto 0px auto;
    position: relative;

    z-index: 100;

    @media #{$medium-up} {
        margin-top: 10vh;
    }

    @media #{$large-up} {
        margin-top: 15vh;
    }

    @media #{$xxlarge-up} {
        margin: 20vh auto;
    }
}

.hero__content {
    margin-bottom: 16rem;
    // min-height: 480px;

    @media #{$medium-up}{
        left: 0px;
        position: absolute;
        z-index: 105;
    }
}

.hero__decoration-row {
    max-width: 1260px;
    margin: 50px auto 0px auto;
    position: relative;
    z-index: 10;
}

.decorations {
    background: url(/img/wood.png) $white;
    border-top: 2px solid $paw-gray;
    height: 100px;
    margin-top: -42px;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: 50;

    @media #{$medium-up} {
        border-top: 4px solid $paw-gray;
        bottom: 0;
        height: 30vh;
        margin-top: 0px;
        min-height: 160px;
        position: absolute;
    }

    @media #{$large-up} {
        bottom: 0;
        height: 20vh;
        position: absolute;
    }
}

.decoration__workspace-container {
    width: 100%;
    transform: translateY(-104%);

    @media #{$medium-up} {
        bottom: 0px;
        position: absolute;
        right: 30px;
        width: 70%;
        transform: none;
    }
}

.decoration__workspace {
    height: 100%;
    max-width: 460px;
    margin: 0px 20px;

    @media #{$medium-up} {
        float: right;
        margin: 0;
        max-width: 100%;
    }

    @media #{$large-up} {
        max-width: 100%;
        margin: 0;
    }
}

.decoration__scroll {
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 40px;
    width: 40px;
    z-index: 625;
}


.embed-poster {
    background: url('/img/isl-paw-video-stock.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;

    &::before {
        background: rgba($primary-color, 0.65);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.video {
}

.video__play,
.video__pause {
    left: 50%;
    min-width: 192px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video__pause {
    display: none;
    min-width: 225px;
    padding-left: 65px;
    padding-right: 40px;

    &::before {
        content: '\275A\275A';
        display: block;
        left: 34px;
        position: absolute;
        top: 12px;
    }


}

.video__media {
    display: none;
    position: relative;
    width: 100%;
    z-index: -1;
}

.video.is-playing {
    cursor: pointer;

    .video__play {
        display: none;
    }

    &:hover .video__pause {
        box-shadow: 2px 0 5px rgba(0,0,0,.25), inset 0 0 2px rgba(0,0,0,.25);
        text-shadow: 2px 0 5px rgba(0,0,0,.25);
        display: block;
        z-index: 20;
    }

    .video__pause:hover {
        background: $primary-color;
        border-color: $white;
        color: $white;
        box-shadow: none;
        text-shadow: none;
    }

    .video__media {
        background-size: cover;
        height: auto;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        z-index: 10;
    }
}

.feature {
    padding-top: 100px;
    padding-bottom: 100px;

}

.feature__heading {
    margin-bottom: 45px;
    position: relative;

    &::after {
        bottom: -20px;
        content: '';
        height: 2px;
        left: 50%;
        margin: 0 auto;
        position: absolute;
        transform: translateX(-50%);
        width: 100px;
    }
}

.feature__heading--gray {
    color: $paw-gray;

    &::after {
        background: $paw-gray;
    }
}

.feature__heading--white {
    &::after {
        background: $white;
    }
}

.feature__text {
    font-weight: 300;
    line-height: 2;
    margin: 0 auto 2rem;
    position: relative;
    z-index: 2;

    @media #{$medium-up} {
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: .5px;
        line-height: 1.8;
        margin-bottom: 80px;
    }
}


.map {
    background: url(/img/wood.png);
    position: relative;
}

.map__heading {
    color: $primary-color;
    margin-bottom: 55px;

}

.map__image-wrap {
    height: 0;
    padding-bottom: percentage(115/300);
    position: relative;
}

.map__image {
    background: url('/img/paw_map.svg') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.map__dog {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    border: solid 3px $paw-green;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    visibility: hidden;

    @media #{$large-up} {
        max-width: 64px;
        max-height: 64px;
    }

    @media #{$large-up} {
        max-width: 80px;
        max-height: 80px;
    }

    &:nth-child(1) {
        top: 15%;
        left: 5%;
    }
    &:nth-child(2) {
        animation-delay: .5s;
        right: 17%;
        top: 50%;
    }
    &:nth-child(3) {
        animation-delay: .8s;
        right: 57%;
        top: 68%;
    }

    .map__image.is-active & {
        animation-name: zoomIn;
        visibility: visible;
    }
}

.map__svg {
    width: 100%;
}

.map__content {
    position: relative;
    z-index: 5;
}

.map__bg-overlay {
    background: $white;
    bottom:0;
    height: 60%;
    position: absolute;
    width:100%;
    z-index: 1;

    &::before {
        background: linear-gradient(to bottom,  rgba(255,255,255,0) -1%,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        content: '';
        height: 30%;
        position: absolute;
        top: -30%;
        width: 100%;
    }
}

.flickity-viewport {
    margin-bottom: 50px;
}

.flickity-slider {
    width: 95%;
}

.flickity-page-dots {
    bottom: -50px;
}

.dogs {
    background: $secondary-color;
    padding-left: 40px;
    padding-right: 40px;
}

.dogs__heading {
    margin-bottom: 100px;
}

.dogs__list {
    max-width: $global-width;
    margin: 0 auto;
}

.dog {
    background: $white;
    border-bottom: 3px solid rgba(mix($secondary-color, $black), 0.15);
    width: percentage(1/3);
}

.dog__avatar {
    background-size: cover;
    border-radius: 50%;
    height: 120px;
    margin: 0 auto;
    width: 120px;

    @media #{$medium-up}{
        height: 160px;
        width: 160px;
        margin: 0 auto 30px auto;
    }
}

.dog__name {
    color: $paw-gray;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;

    &::after {
        background-color: $primary-color;
        bottom: -18px;
        content: '';
        display: block;
        height: 8px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 50px;
    }

    @media #{$medium-up}{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.dog--marketing {
    margin-left: 20px;
    max-width: 350px;
    min-height:400px;
    padding: 50px 46px;
    text-align: center;
    width: 300px;

    @media #{$medium-up} {
        margin-left: 3%;
        margin-right: 3%;
        max-width: none;
        padding: 50px 50px 50px;
        width: 50%;
    }

    @media #{$large-up} {
        margin-left: 2.75%;
        margin-right: 2.75%;
        max-width: none;
        min-height: 450px;
        padding: 60px 30px 70px;
        width: percentage(1/3);
    }
    @media #{$xlarge-up}{
        font-size: 1.125em;
        height: 525px;
    }
}

.dog__text {
    color: $paw-gray;
    font-weight: 300;
    font-size: .875em;

    @media #{$medium-up}{
        font-size: 1em;
        min-height:110px;
    }

    @media #{$large-up}{
        font-size: 1em;
    }
    @media #{$xlarge-up}{
        font-size: 1.125em;
    }
}

.dog__meta {
    color: $paw-gray;
    font-size: 0.9375rem;
    font-style: italic;
    margin: 0;
}

.meta__kibble {
    max-width: 12px;
    margin-right: 7px;
}

.flickity-page-dots {
    @media #{$medium-up} {
        display: none;
    }

    .dot {
        background: $white;
        border: 2px solid $black;
        height: 15px;
        opacity: 1;
        width: 15px;

        &.is-selected {
            background: $primary-color;
        }
    }
}

.flickity-prev-next-button {
    background: $primary-color;
    border-radius: 0px;
    display: none;
    padding: 40px 30px;
    transition: all .2s;

    svg {
        height: 60%;
        left: 25%;
        position: absolute;
        top: 20%;
        width: 50%;

        .arrow {
            fill: $white;
        }
    }

    &:hover {
        background: darken($primary-color, 10%);
    }

    &.previous {
        left: -40px;
    }

    &.next {
        right: -40px;
    }

    &:disabled {
        background: $paw-gray;
        opacity: .1;

        &:hover {
            background: $paw-gray;
        }
    }

    @media #{$medium-up} {
        display: block;
    }
}

.contact {
    background: $primary-color;
    background-image: url(/img/isl-paw-squiggle.svg);
    background-size: 240px 280px;
    padding-left: 40px;
    padding-right: 40px;
}


.contact__heading,
.contact__text {
    color: $white;
}

.contact__text {
    max-width: 650px;
}

.footer {
    background: darken($primary-color, 10%);
    height: 90px;
}

.footer__paw {
    max-width: 25px;
    margin: 0 5px;
    transform: translateY(-58%);
}

.footer__link {
    display: inline-block;
    width: 85px;
    height: 56px;
    margin-top: 18px;
    width: 85px;
    height: 56.4375px;
}

.footer__logo {
    pointer-events: none;
    width: 100%;
}

.footer__logo-path {
    fill: #0078FF;
}
