h2 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 45px;
}

em {
    color: $primary-color;
    font-style: italic;
    font-weight: bold;
}

.button {
    border-width: 4px;
    color: $primary-color;
    cursor: pointer;
    font-family: $header-font-family;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    /* border: 3px solid $primary-color; */
}

.button--alt {
    border-color: $button-color-alt;
    color: $button-color-alt;
}

.button--link {
    border: 0;
    font-size: 16px;
    font-weight: normal;
}

.error {
    background-color: $alert-color;
    color: $white;
}

.error__text {
    margin: 0;
    padding: 1em;
}

.icon {
    display: inline-block;
}

.icon--down {
    border: 5px solid $black;
    border-right: 0;
    border-top: 0;
    height: 30px;
    transform: rotate(-45deg);
    width: 30px;
}

.logo {
    color: $primary-color;
    /* font-family: 'Lato'; */
    font-size: 62px;
    text-transform: lowercase;
}





.hero {
    background: $secondary-color;
    padding-bottom: 130px;
}

.hero__text {
    font-size: 22px;
    line-height: 1.81;
    margin-bottom: 65px;
}


.decoration {
    background: url(/img/wood.svg) $white;
    border-top: 5px solid $black;
    position: relative;
    height: 190px;
    overflow: visible;
}

.decoration__workspace {
    max-width: 100%;
    transform: translateY(-85%);
}

.decoration__scroll {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%) rotate(-45deg);
}


.video {
    background: url('/img/video_stock.jpg');
    background-position: top;
    background-size: cover;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.video::before {
    content: '';
    background: rgba($primary-color, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__play,
.video__pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video__pause {
    display: none;
    padding-right: 40px;
    padding-left: 65px;

    &::before {
        content: '\275A\275A';
        display: block;
        left: 34px;
        top: 12px;
        position: absolute;
    }
}

.video__media {
    display: none;
    position: relative;
    width: 100%;
    z-index: -1;
}

.video.is-playing {
    cursor: pointer;

    .video__play {
        display: none;
    }

    &:hover .video__pause {
        box-shadow: 2px 0 5px $black, inset 0 0 2px $black;
        text-shadow: 2px 0 5px $black;
        display: block;
        z-index: 20;
    }

    .video__pause:hover {
        border-color: $white;
        color: $white;
    }

    .video__media {
        background-size: cover;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        z-index: 10;
    }
}

.feature {
    padding-top: 100px;
    padding-bottom: 95px;
}

.feature__heading {
    margin-bottom: 45px;
}

.feature__text {
    font-weight: 300;
    margin-bottom: 40px;
}


.map {
    background: url(/img/wood.svg) no-repeat;
}

.map__heading {
    color: $primary-color;
}

.dogs {
    background: $secondary-color;
}

.dogs__list {
}

.dog {
    background: $white;
    border-bottom: 3px solid rgba(mix($secondary-color, $black), 0.15);
    padding: 80px 70px 85px;
}

.dog__avatar {
    border-radius: 50%;
    height: 185px;
    width: 185px;
}

.dog__name {
    font-size: 2.375rem;
}

.dog__text {
}

.dog__meta {
    font-size: 0.9375rem;
    font-style: italic;
}

.contact {
    background: $primary-color;
}

.contact__heading,
.contact__text {
    color: $white;
}